// Importing various SASS Files
@import "mixins";

// Variables for Sass Precompiler & CSS

$red: #800000;
$tan: #FBEECA;
$green: #3a7300;
$orange: #ba3f03;
$darkgreen: #78923a;
$offwhite: #f2f2f2;
$grey: #ccc;
$darkgrey: #222;
$white: #fff;

body {
  background-color: $offwhite;
}

#page {
  background-color: $tan;
  width: 75%;
  border-radius: 5px;
  margin:0 auto;
  
  header.header {
    background-color:$darkgrey;
    border:2px solid $grey;
    width:85%;
    height:50px;
    border-radius:5px;
    margin:0 auto;
    
    h1 {
      color:$offwhite;
      font-family:Heveltica;
      font-size:28px;
      text-align:center;
      padding:0px;
      margin:0 auto;
    }
  }
}

// Jumbotron

.jumbotron {
    border-radius:5px;
    background-color:$red;
    padding:25px;
    margin:0 auto;
    height:250px;
 
  h1 {
    font-family:Helvetica;
    font-size:24px;
    color:$red;
    text-align:center;
  }
  
}